@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nano-cursor {
  display: inline-block;
  width: 7px;
  height: 14px;
  background: black;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}

.nano-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: Monaco, monospace;
}

.nano-header {
  background: #eee;
  padding: 3px 6px;
}

.nano-textarea {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  padding: 6px;
  font-family: Monaco, monospace;
}

.nano-footer {
  background: #eee;
  padding: 3px 6px;
  font-size: 12px;
}

.nano-status {
  position: absolute;
  bottom: 24px;
  left: 6px;
  background: #eee;
  padding: 2px 4px;
  border: 1px solid #ccc;
}

