@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
